@import "tailwindcss";

@theme {
  --color-blueprimary: #17013b;
  --color-primary-dark: #290077;
  --color-primary-brand-color: #6300ff;
  --color-gold: #ffff00;
}

body {
  color: white;
}

.skill-card {
  border: 2px solid;
  border-radius: 1rem;
  border-image: linear-gradient(45deg, #b586ff, #5f00ff);
  border-image-slice: 1;
}
.skill-card::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(10px);
  width: 100%;
  height: 1px;
  rotate: -45deg;
  top: 50%;
  left: 0;
  translate: -100% 0%;
  box-shadow: 0 0 20px 3px #fff;
  transition: 600ms ease-out;
}
.skill-card:hover::before {
  translate: 100% 0%;
}
